@page
@model Project334.Pages.Vaccines.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <h4 class="display-4">Add Vaccine</h4>
        <hr class="my-4">
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vaccine.Name" class="control-label"></label>
                <input asp-for="Vaccine.Name" class="form-control" />
                <span asp-validation-for="Vaccine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine.Number" class="control-label"></label>
                <input asp-for="Vaccine.Number" class="form-control" />
                <span asp-validation-for="Vaccine.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine.ProductionDate" class="control-label"></label>
                <input asp-for="Vaccine.ProductionDate" class="form-control" />
                <span asp-validation-for="Vaccine.ProductionDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <a class="btn btn-primary" role="button" asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
