@page
@model Project334.Pages.BookAppointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookAppointment.MedicalInstitutionID" class="control-label"></label>
                <input asp-for="BookAppointment.MedicalInstitutionID" value="@ViewContext.HttpContext.Request.Query["id"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="BookAppointment.MedicalInstitutionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAppointment.Patient.MobilePhone" class="control-label"></label>
                <input type="tel" asp-for="BookAppointment.Patient.MobilePhone" placeholder="(0x) xxxx xxxx" class="form-control" />
                <span asp-validation-for="BookAppointment.Patient.MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAppointment.Patient.LastName" class="control-label"></label>
                <input asp-for="BookAppointment.Patient.LastName" class="form-control" />
                <span asp-validation-for="BookAppointment.Patient.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAppointment.Patient.FirstMidName" class="control-label"></label>
                <input asp-for="BookAppointment.Patient.FirstMidName" class="form-control" />
                <span asp-validation-for="BookAppointment.Patient.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAppointment.Patient.Email" class="control-label"></label>
                <input asp-for="BookAppointment.Patient.Email" class="form-control" />
                <span asp-validation-for="BookAppointment.Patient.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BookAppointment.Patient.HadVirus" /> @Html.DisplayNameFor(model => model.BookAppointment.Patient.HadVirus)
                </label>
            </div>

            <hr />
            <div><b><a href="https://www.health.gov.au/resources/apps-and-tools/covid-19-vaccine-eligibility-checker">Check Eligibility to vaccination</a></b></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BookAppointment.EligibilityToVaccine" /> @Html.DisplayNameFor(model => model.BookAppointment.EligibilityToVaccine)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BookAppointment.Medicare" class="control-label"></label>
                <input asp-for="BookAppointment.Medicare" class="form-control" />
                <span asp-validation-for="BookAppointment.Medicare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
