@page
@model Project334.Pages.BookAppointments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookAppointment.BookAppointmentID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BookAppointment.EligibilityToVaccine" /> @Html.DisplayNameFor(model => model.BookAppointment.EligibilityToVaccine)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BookAppointment.Medicare" class="control-label"></label>
                <input asp-for="BookAppointment.Medicare" class="form-control" />
                <span asp-validation-for="BookAppointment.Medicare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/MedicalInstitutions/Details" asp-route-id="@Model.BookAppointment.MedicalInstitutionID">Back to Medical Place</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
