@page
@model Project334.Pages.MedicalInstitutions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <h4 class="display-4">Add Medical Place</h4>
        <hr class="my-4">
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="MedicalInstitution.StreetNumber" class="control-label"></label>
                <input asp-for="MedicalInstitution.StreetNumber" class="form-control" />
                <span asp-validation-for="MedicalInstitution.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalInstitution.StreetName" class="control-label"></label>
                <input asp-for="MedicalInstitution.StreetName" class="form-control" />
                <span asp-validation-for="MedicalInstitution.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalInstitution.City" class="control-label"></label>
                <input asp-for="MedicalInstitution.City" class="form-control" />
                <span asp-validation-for="MedicalInstitution.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalInstitution.State" class="control-label"></label>
                <input asp-for="MedicalInstitution.State" class="form-control" />
                <span asp-validation-for="MedicalInstitution.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalInstitution.ZipCode" class="control-label"></label>
                <input asp-for="MedicalInstitution.ZipCode" class="form-control" />
                <span asp-validation-for="MedicalInstitution.ZipCode" class="text-danger"></span>
            </div>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicalInstitution.Name" class="control-label"></label>
                <input asp-for="MedicalInstitution.Name" class="form-control" />
                <span asp-validation-for="MedicalInstitution.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalInstitution.Phone" class="control-label"></label>
                <input asp-for="MedicalInstitution.Phone" placeholder="(0x) xxxx xxxx" class="form-control" />
                <span asp-validation-for="MedicalInstitution.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalInstitution.Email" class="control-label"></label>
                <input asp-for="MedicalInstitution.Email" placeholder="(0x) xxxx xxxx" class="form-control" />
                <span asp-validation-for="MedicalInstitution.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <a class="btn btn-primary" role="button" asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
