@page
@model Project334.Pages.Alerts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <h4 class="display-4">Add Alert</h4>
        <hr class="my-4">
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Alert.DangerousCaseID" class="control-label"></label>
                <select asp-for="Alert.DangerousCaseID" class="form-control" asp-items="ViewBag.DangerousCaseID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Alert.Comment" class="control-label"></label>
                <input asp-for="Alert.Comment" class="form-control" />
                <span asp-validation-for="Alert.Comment" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <a class="btn btn-primary" role="button" asp-page="Index">Back to List</a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
