@page
@model Project334.Pages.CheckOuts.CreateModelNew

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <h4 class="display-4">Add Visitor CheckOut</h4>
        <hr class="my-4">
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VisitorCheckOut.BusinessActivityID" class="control-label"></label>
                <input asp-for="VisitorCheckOut.BusinessActivityID" value="@ViewContext.HttpContext.Request.Query["id"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="VisitorCheckOut.BusinessActivityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorCheckOut.MobilePhone" class="control-label"></label>
                <input asp-for="VisitorCheckOut.MobilePhone" placeholder="(0x) xxxx xxxx" class="form-control" />
                <span asp-validation-for="VisitorCheckOut.MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorCheckOut.LastName" class="control-label"></label>
                <input asp-for="VisitorCheckOut.LastName" class="form-control" />
                <span asp-validation-for="VisitorCheckOut.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorCheckOut.FirstMidName" class="control-label"></label>
                <input asp-for="VisitorCheckOut.FirstMidName" class="form-control" />
                <span asp-validation-for="VisitorCheckOut.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorCheckOut.Email" class="control-label"></label>
                <input asp-for="VisitorCheckOut.Email" class="form-control" />
                <span asp-validation-for="VisitorCheckOut.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorCheckOut.CheckOut" class="control-label"></label>
                <input asp-for="VisitorCheckOut.CheckOut" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" class="form-control" readonly="readonly" />
                <span asp-validation-for="VisitorCheckOut.CheckOut" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <a class="btn btn-primary" role="button" asp-page="/BusinessActivities/Details" asp-route-id="@ViewContext.HttpContext.Request.Query["id"]">Back to daily activity</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
