@page
@model Project334.Pages.Businesses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <h4 class="display-4">Add Business</h4>
        <hr class="my-4">
    </div>
</div>


<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <form method="post">
            @*<div class="col-md-4">
                <form method="post">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Business.Name" class="control-label"></label>
                <input asp-for="Business.Name" class="form-control" />
                <span asp-validation-for="Business.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.Phone" class="control-label"></label>
                <input asp-for="Business.Phone" placeholder="(0x) xxxx xxxx" class="form-control" />
                <span asp-validation-for="Business.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.Email" class="control-label"></label>
                <input asp-for="Business.Email" class="form-control" />
                <span asp-validation-for="Business.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.ABN" class="control-label"></label>
                <input asp-for="Business.ABN" class="form-control" />
                <span asp-validation-for="Business.ABN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.StreetNumber" class="control-label"></label>
                <input asp-for="Business.StreetNumber" class="form-control" />
                <span asp-validation-for="Business.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.StreetName" class="control-label"></label>
                <input asp-for="Business.StreetName" class="form-control" />
                <span asp-validation-for="Business.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.City" class="control-label"></label>
                <input asp-for="Business.City" class="form-control" />
                <span asp-validation-for="Business.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.State" class="control-label"></label>
                <input asp-for="Business.State" class="form-control" />
                <span asp-validation-for="Business.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.ZipCode" class="control-label"></label>
                <input asp-for="Business.ZipCode" class="form-control" />
                <span asp-validation-for="Business.ZipCode" class="text-danger"></span>
            </div>
            <br />
            @*<div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    </form>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <a class="btn btn-primary" role="button" asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
